/* styles.scss */

// 1. Load USWDS settings
@import "../node_modules/@uswds/uswds/dist/css/uswds.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:disabled {
  background-color: rgb(226, 222, 222)!important;
}

.page-container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

section:not(:last-child) {
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  >*:not(:last-child) {
    margin-bottom: .5rem;
    padding-bottom: .5rem;
  }
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.items-end {
  align-items: flex-end;
}

.space-x {
  >*:not(:last-child) {
    margin-right: 1rem;
  }
}

.space-y {
  >*:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.usa-checkbox__input:checked {
  background-color: red;
}

[class*=__label]:has(input:checked)::before, .usa-checkbox__input:checked:disabled+[class*=__label]::before, .usa-checkbox__input:checked[aria-disabled=true]+[class*=__label]::before {
  background-image: url(../node_modules/@uswds/uswds/dist/img/correct8.svg),linear-gradient(transparent,transparent);
  background-repeat: no-repeat;
}

[class*=__label]:has(input:checked)::before {
  background-color: #005ea2;
  box-shadow: 0 0 0 2px #005ea2;
}

[class*=__label]:has(input:checked)::before, .usa-checkbox__input:checked:disabled+[class*=__label]::before, .usa-checkbox__input:checked[aria-disabled=true]+[class*=__label]::before {
  background-position: center center;
  background-size: 0.75rem auto;
}

[class*=__label]:has(input:disabled), .usa-checkbox__input:disabled+[class*=__label], .usa-checkbox__input:disabled+[class*=__label]::before, .usa-checkbox__input[aria-disabled=true]+[class*=__label], .usa-checkbox__input[aria-disabled=true]+[class*=__label]::before {
  cursor: not-allowed;
}

[class*=__label]:has(input:disabled), .usa-checkbox__input:disabled+[class*=__label], .usa-checkbox__input[aria-disabled=true]+[class*=__label] {
  color: rgba(27,27,27,.3);
}

[class*=__label]:has(input:disabled)::before, .usa-checkbox__input:disabled+[class*=__label]::before, .usa-checkbox__input[aria-disabled=true]+[class*=__label]::before {
  background-color: rgb(219, 219, 219);
  box-shadow: 0 0 0 2px rgb(27 27 27 / 30%);
}